/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #010101;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    color: #45f3ff;
    background: #18181b;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    padding-left: 120px;
    letter-spacing: 10px;
}

header span {
    display: flex;
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 260px;
    height: 100vh;
    background: #1f1f23;
}

/* 選單 標頭 */
.sidebar .logo-details {
    height: 60px;
    width: 100%;
    color: #45f3ff;
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.sidebar .logo-details .logo-img {
    height: 60px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo-details img {
    height: 40px;
}

.sidebar .logo-details span {
    min-width: 130px;
    font-size: 22px;
    font-weight: 600;
}

.sidebar .logo-details i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #efeff1;
    border-radius: 50%;
    border: none;
}

.sidebar .logo-details i:hover {
    color: #45f3ff;
    background: #18181b;
    cursor: pointer;
    border: 3px solid #45f3ff;
}

/* 全部選單 */
.sidebar .nav-links {
    height: calc(100vh - 111px);
    overflow: auto;
}

/* 隱藏滾輪的圖樣，因為太醜了 */
.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 80px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #efeff1;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    color: #efeff1;
    text-decoration: none;
}

.sidebar .nav-links li span {
    width: 100px;
}

/* 主選單 */
.sidebar .icon-link {
    font-size: 20px;
    font-weight: 600;
}

.sidebar .icon-link:hover {
    border-left: 3px solid #45f3ff;
}

.sidebar .icon-link:hover a,
.sidebar .icon-link:hover i {
    color: #45f3ff;
    background: #23242a;
}

/* 子選單 */
.sidebar .sub-menu {
    font-size: 16px;
}

.sidebar .openMenu {
    display: block;
}

.sidebar .openMenu.ok {
    display: none;
}

.sidebar .sub-menu li {
    border-bottom: none;
}

.sidebar .sub-menu li:hover {
    border-left: 3px solid #45f3ff;
}

.sidebar .sub-menu li:hover a,
.sidebar .sub-menu li:hover i {
    color: #45f3ff;
    background: #23242a;
}

.sidebar .sub-menu li span {
    position: relative;
    padding-left: 20px;
}

.sidebar .footer {
    position: absolute;
    bottom: 50px;
    height: 52px;
    width: 260px;
    background: #18181b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .footer .footer-content {
    width: 80px;
    color: #efeff1;
    font-size: 18px;
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .footer .footer-content:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    color: #45f3ff;
    background: #23242a;
    border: 3px solid #45f3ff;
    border-radius: 8px;
    cursor: pointer;
}

.content {
    width: 100%;
    height: 100%;
}

.content .content-title {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 260px;
    top: 50px;
    width: calc(100% - 260px);
    height: 60px;
    padding: 20px 0 6px 30px;
    color: #efeff1;
    border-bottom: 3px solid #45f3ff;
    background: #010101;
}

.content .content-title.active {
    display: flex;
}

.content .content-title .content-text {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 10px;
}

.right-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 260px);
    height: 100%;
    padding: 20px 0 6px 0;
    color: #efeff1;
    margin-top: 90px;
    margin-left: 260px;
}

.content-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
}

.content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
}

.content-title p {
    color: #efeff1;
}

.content-title span {
    color: #45f3ff;
    margin: 0 30px;
}

