<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>註冊</title>
    <link rel="stylesheet" type="text/css" href="/css/register.css">
</head>
<body>

<div class="error">
    <span th:if="${session.errorMsg} != null" th:text="${session.errorMsg}" style="color: red;"></span>
</div>

<div class="box">
    <form action="/users/register/create" method="post" autocomplete="off">
        <h2>註 冊</h2>
        <div class="inputBox">
            <input type="text" name="userName" required> <span>使用者名稱</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required> <span>密碼</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" name="checkPassword" required> <span>再次確認密碼</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="text" name="email" required> <span>電子信箱</span>
            <i></i>
        </div>
        <input type="submit" value="確認">
        <div class="links">
            <a href="/users/login">返回登入</a>
        </div>
    </form>

    <script type="text/javascript">
        function goToLogin(){
            window.location.href="/users/login";
        }
    </script>
</div>
</body>
</html>